@deep: ~'>>>';
.table_body {
  margin-bottom: 40px;
  span.link_btn {
    color: #1787eb;
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
  /deep/ .ant-table-body {
    .ant-checkbox-inner {
      border-radius: 50%;
    }
    .ant-checkbox-checked .ant-checkbox-inner::after {
      width: 8px;
      height: 8px;
      transform: none;
      background: #1787eb;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      border: none;
    }
    .ant-checkbox-checked .ant-checkbox-inner {
      background: #fff;
    }
    .ant-table-thead {
      tr {
        th {
          div {
            color: #1787eb;
            font-size: 16px;
            font-weight: 600;
          }
        }
      }
    }
  }
  .table_icon {
    display: inline-block;
    width: 18px;
    height: 16px;
    margin: 0 10px;
    cursor: pointer;
  }
  i.edit_icon {
    background: url(../assets/images/edit_b.svg) no-repeat center;
  }
  i.delete_icon {
    background: url(../assets/images/delete_icon.svg) no-repeat center;
  }
  /deep/ .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
    background: #fafafa;
  }
}

.ant-modal-wrap.out_dialog {
  .ant-modal {
    // vertical-align: baseline;
    // transform: translateY(-100px);
    .ant-modal-content {
      .ant-modal-header {
        border-bottom: none;
        padding: 40px 40px 60px;
        .ant-modal-title {
          height: 36px;
          font-size: 38px;
          font-weight: 600;
          color: @theme-color;
          line-height: 36px;
        }
      }
      .ant-modal-body,
      .ant-modal-footer {
        padding: 40px;
      }
      .ant-modal-footer {
        text-align: left;
        border: none;
        .next_btn {
          display: block;
          width: 120px;
          height: 40px;
          background: linear-gradient(
            90deg,
            rgba(11, 134, 240, 1) 0%,
            rgba(60, 204, 251, 1) 100%
          );
          border-radius: 25px;
          font-size: @14px;
          line-height: 40px;
          font-weight: 400;
          border: none;
          box-shadow: none;
        }
      }
      .ant-modal-close {
        top: -80px;
        right: -80px;
        .ant-modal-close-x {
          i {
            // display: none;
            width: 20px;
            height: 20px;
            background: url(../assets/images/close_icon.svg) no-repeat center;
            background-size: cover;
            svg {
              display: none;
            }
          }
        }
      }
    }
  }
}

.dialog_content {
  width: 100%;
}
.ant-checkbox-group {
  width: 100%;
  .ant-checkbox-wrapper {
    height: 22px;
    margin-bottom: 28px;
    margin-left: 0;
    margin-right: 10px;
    .ant-checkbox {
      vertical-align: unset;
      top: -3px;
      .ant-checkbox-inner {
        border-radius: 50%;
        border-color: @theme-color;
      }
      & + span {
        display: inline-block;
        min-width: 97px;
        padding-left: 24px;
        font-size: 14px;
        font-weight: 600;
        color: rgba(0, 0, 0, 1);
        line-height: 22px;
        overflow: hidden;
      }
    }
    .ant-checkbox-checked {
      .ant-checkbox-inner {
        background-color: #fff;
      }
      .ant-checkbox-inner::after {
        width: 10px;
        height: 10px;
        background: @theme-color;
        border: none;
        border-radius: 50%;
        left: 50%;
        transform: none;
        transform: translate(-50%, -50%);
      }
    }
  }
}